.containerSection {
  min-height: 100vh;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:2rem;

  .link{
    color: var(--color-white);
  }
  
   h1{
    font-size: 3rem;
    color: var(--color-white);

    @media (min-width:1042px) {
       font-size: 4rem; 
    }
   }

   .post{
      background-color: var(--color-white);
      color: var(--color-dark);
      max-width: 550px;
      width: 100%;
      border-radius: 5px;
      padding: 1rem;
   }
}
